:root{
  --property: flex-start;
}

div.wrapper {
  display: flex;
  justify-content: var(--property);
  padding: 10px;
  border: 1px solid #ff8a00;
  border-radius: 15px;
  transition: all linear 10s;

}
